extends ../layout  
block content 
    .container(style="margin-top:25px")
        .row
            .col-md-4
                h1= title
        .row
            if(muestras)
                each muestra in muestras 
                    .col-md-4
                        div.card.text-center
                            div.card-body
                                h5.card-title Paciente: #{muestra.Orden.Paciente.nombre + ' ' + muestra.Orden.Paciente.apellido}
                                h6.card-subtitle.mb-2.text-body-secondary DNI: #{muestra.Orden.Paciente.dni}
                                h6.card-subtitle.mb-2.text-body-secondary Orden Nro: #{muestra.Orden.id}
                                p.card-text Tipo de Muestra: #{muestra.Tipo.descripcion}
                                p.card-text Fecha: #{muestra.getFormattedDate(muestra.fecha)}
                                a.btn.btn-primary(href="/muestras/etiqueta/"+muestra.id) Imprimir
                            