extends ../layout  
block content 
    .container(style="margin-top:25px")
        .row
            .col-md-4
                h1= title
        .row
            if(muestras)
                each muestra in muestras 
                    .col-md-4
                        div.card.text-center
                            div.card-body
                                h5.card-title Paciente: #{muestra.Orden.Paciente.nombre + ' ' + muestra.Orden.Paciente.apellido}
                                h6.card-subtitle.mb-2.text-body-secondary DNI: #{muestra.Orden.Paciente.dni}
                                h6.card-subtitle.mb-2.text-body-secondary Orden Nro: #{muestra.Orden.id}
                                p.card-text Tipo de Muestra: #{muestra.Tipo.descripcion}
                                p.card-text Fecha: #{muestra.getFormattedDate(muestra.fecha)}
                                p.card-text Estado: #{muestra.EstadoMuestra.descripcion}
                                if(usuario && usuario.rolId === 1)
                                    a.btn.btn-primary(href="/muestras/etiqueta/"+muestra.id)
                                        i.fa-solid.fa-file-pdf 
                                        |  Etiqueta
                                if(usuario && (usuario.rolId === 2 || usuario.rolId === 3))
                                    form(action="/muestras/"+muestra.id+"?_method=PUT", method="post")
                                        if (muestra.EstadoMuestra.id === 1)
                                            input(type="hidden", name="estado", value="2")
                                            input.btn.btn-primary(type="submit", value= "Recogida")
                                        if (muestra.EstadoMuestra.id === 2)
                                            input(type="hidden", name="estado", value="3")
                                            input.btn.btn-primary(type="submit", value= "Analizada")
                            