extends ../layout  
block content 
    .container(style="margin-top:25px")
        .row 
            .col-md-4
                h1= title
            .col-md-6
                form(action="/ordenes/buscar", method="post")
                    .input-group
                        .input-group-text
                            i.fa.fa-search
                        input.form-control(type="text", autocomplete="off", name="dato") 
                        .col-md-2.text-end
                            input.btn.btn-primary.btn-lg(type="submit", value="Buscar")   
        .row(style="margin-top:25px")
            .col-md-12  
                if (mensaje)
                    if(codigo=== 'success')
                        div.alert.alert-success.d-flex.align-items-center(role="alert") 
                            i.fa.fa-check-circle-o.fa-2x 
                                span=   mensaje
                    if(codigo === 'error')
                        div.alert.alert-danger.d-flex.align-items-center(role="alert")              
                            i.fa.fa-exclamation-triangle.fa-2x      
                                span=   mensaje
        .row 
            table.table.table-success.table-striped
                thead
                    tr
                        th Paciente
                        th Personal 
                        th Registro
                        th Entrega
                        th Medico
                        th Diagnostico
                        th Estado
                        th(colspan="4")  Acciones
                
                        
                tbody
                    each orden in ordenes
                        tr
                            td= orden.Paciente.nombre+" "+orden.Paciente.apellido
                            td= orden.Usuario.nombre+" "+orden.Usuario.apellido
                            th= orden.getFormattedDate(orden.fecha)
                            td= orden.getFormattedDate(orden.fechaEntrega)
                            td= orden.medico
                            td= orden.diagnostico
                            td= orden.Estado.descripcion
                            td 
                                a.btn.btn-info(href="/muestras/"+orden.id) Etiquetas
                            td  
                                a.btn.btn-primary(href="/resultados/gestion/"+orden.id) Resultados
                            td
                                form(action="/ordenes/actualizar/"+ orden.id, method="get")
                                    input.btn.btn-success(value="Modificar",type="submit")
                            td
                                form(action="/ordenes/"+orden.id+"?_method=DELETE", method="post")
                                    input.btn.btn-danger(value="Borrar",type="submit")
                    else 
                        tr
                            td(colspan="9") No hay datos

                            