extends ../layout  
block content 
    .container(style="margin-top:25px")
        .row 
            .col-md-6
                h1= title
            .col-md-6.text-end
                a.btn.btn-primary.btn-lg(href="/usuarios/crear") Crear 
        .row 
            table.table.table-success.table-striped
                thead
                    tr
                        th Apellido
                        th Nombre
                        th Email
                        th Creacion
                        th Rol
                        th(colspan="2")  Acciones
                
                        
                tbody
                    each usuario in usuarios
                        tr
                            td= usuario.apellido
                            td= usuario.nombre
                            td= usuario.email
                            td= usuario.getFormattedDate(usuario.creacion)
                            td= usuario.Rol.descripcion
                            td
                                form(action="/usuarios/"+usuario.id, method="get")
                                    input.btn.btn-success(value="Actualizar",type="submit")
                            td
                                form(action="/usuarios/"+usuario.id+"?_method=DELETE", method="post")
                                    input.btn.btn-danger(value="Borrar",type="submit")
                    else 
                        tr
                            td(colspan="6") No hay datos