extends ../layout

block content
    .container(style="margin-top:25px")
        .row.p-3.text-primary-emphasis.bg-primary-subtle.border.border-primary-subtle.rounded-3
            .col-md-4
                h3='Paciente: '+orden.Paciente.nombre+' '+orden.Paciente.apellido
            .col-md-4
                h3='DNI: '+orden.Paciente.dni
            .col-md-4.text-end
                h3='Orden Nro: '+ orden.id
        .row
                .card
                    .card-header
                        h1= title
                    .card-body            
                        .row
                        - var contador=1;
                            form.row.g-3(action="/resultados/", method="POST")
                                table.table.table-borderless
                                    thead
                                        tr
                                            th Nro
                                            th Determinacion
                                            th Valor
                                            th Unidad
                                            th Referencia
                                    tbody
                                        each determinacion in examen.Determinacions
                                            tr  
                                                td= contador
                                                td= determinacion.dato
                                                td
                                                    input(type="hidden", name="determinacion"+contador, value= determinacion.id)
                                                    input(type="number", name="valor"+contador,  step="0.01")
                                                td= determinacion.medida
                                                td
                                                    ul
                                                        each ref in determinacion.Referencia 
                                                            if(ref.edad != null)
                                                                li  En #{ref.edad} , valor min: #{ref.min}  , valor max: #{ref.max} 
                                                            if(ref.sexo != null)
                                                                li En sexo {ref.sexo}, valor min: #{ref.min}  valor max: #{ref.max} 
                                                            if(ref.edad == null && ref.sexo == null)
                                                                li Valor min: #{ref.min} , valor max: #{ref.max} 
                                                            else
                                                                li En #{ref.edad} y sexo #{ref.sexo}, valor min: #{ref.min} , valor max: #{ref.max} 
                                                - contador++;
                                .row
                                    .col-md-12
                                        input(type="hidden", name="cant", value= contador)
                                        input(type="hidden", name="detalleId", value= detalle.id)
                                        input(type="hidden", name="ordenId", value= orden.id)
                                    .col-md-12.text-center
                                        a.btn.btn-danger.btn-lg.me-2(href= orden ? '/resultados/gestion/'+orden.id : '/') Cancelar
                                        input.btn.btn-primary.btn-lg(type="submit",value="Registrar")